/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.mb-6{
	  margin-bottom: 6rem !important;
	}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.navbar-collapse .nav-link{
		color: #fff;
	}
	.navbar-collapse .nav-link:hover{
		color: #ddd;
	}
	.slider-container{
		padding-top: 200px;
	}
	#homeSlider .more{
		margin-bottom: 6rem !important;
	}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.container {
		max-width: 1048px;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.main-heading{
	  font-size: 2.5rem;
		text-align: center;
	}
	.main-sub-heading{
		text-align: center;
	}
}
/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
	.flaticon{
		font-size: 3rem;
	}
}
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
	.navbar-collapse .nav-link{
	  color: #5934A8;
	}
	.navbar .collapsing{
	  background: #fff;
	}
	.navbar .show{
	  background: #fff;
	}
	.navbar-collapse .dropdown-menu{
	  background: #5934A8;
	}
	.flaticon{
		font-size: 4rem;
	}
}
/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}
